<div class="portfolio-item about-page">
  <section class="portfolio-item__header js-img">
    <div class="fixed">
      <div class="portfolio-item__header__text ">
        <h1>Mike Kus</h1>
        <p>Mike is a UK based designer specialising in Web/UI Design, Graphic Design, Branding, Illustration &amp; Photography. He has a worldwide client roster and his work is regulary featured in design related publications. Mike is also a regular speaker at <a href="http://lanyrd.com/profile/mikekus/">design/tech conferences</a>.<br><br>Get in touch:</p>
        <a href="mailto:mike@mikekus.com" class="contact-link">mike@mikekus.com</a>
        <small>Photo: <a href="https://twitter.com/drewm">Drew McLellan</a></small>
      </div>
      <img src="/assets/img/contact.jpg" id="js-mike" alt="Picture of Mike Kus talking at a conference">
    </div>
  </section>
  <section class="portfolio-item__text js-text">
    <h1>Instagram Photography</h1>
    <p>As well being a designer, Mike likes to take photographs and share them on Instagram. He has a following of around 750,000 people. He's worked on photography projects for many brands, including Burberry, Land Rover, Red Bull, O2 and the Northern Ireland Tourist Board. If you're interested in working with Mike, <a href="mailto:mike@mikekus.com">get in touch</a>.</p>
  </section>
</div>
<div class="overflow">
  <ul class="portfolio-list instagram-list">
      
      
      <li><a href="http://instagram.com/mikekus"><img src="/assets/img/instagram/1.jpg" class="js-img" alt="Image from Mike Kus Instagram feed"></a></li>
      
      
      <li><a href="http://instagram.com/mikekus"><img src="/assets/img/instagram/2.jpg" class="js-img" alt="Image from Mike Kus Instagram feed"></a></li>
      
      
      <li><a href="http://instagram.com/mikekus"><img src="/assets/img/instagram/3.jpg" class="js-img" alt="Image from Mike Kus Instagram feed"></a></li>
      
      
      <li><a href="http://instagram.com/mikekus"><img src="/assets/img/instagram/4.jpg" class="js-img" alt="Image from Mike Kus Instagram feed"></a></li>
      
      
      <li><a href="http://instagram.com/mikekus"><img src="/assets/img/instagram/5.jpg" class="js-img" alt="Image from Mike Kus Instagram feed"></a></li>
      
      
      <li><a href="http://instagram.com/mikekus"><img src="/assets/img/instagram/6.jpg" class="js-img" alt="Image from Mike Kus Instagram feed"></a></li>
      
      
      <li><a href="http://instagram.com/mikekus"><img src="/assets/img/instagram/7.jpg" class="js-img" alt="Image from Mike Kus Instagram feed"></a></li>
      
      
      <li><a href="http://instagram.com/mikekus"><img src="/assets/img/instagram/8.jpg" class="js-img" alt="Image from Mike Kus Instagram feed"></a></li>
      
      
      <li><a href="http://instagram.com/mikekus"><img src="/assets/img/instagram/9.jpg" class="js-img" alt="Image from Mike Kus Instagram feed"></a></li>
      
      
      <li><a href="http://instagram.com/mikekus"><img src="/assets/img/instagram/10.jpg" class="js-img" alt="Image from Mike Kus Instagram feed"></a></li>
      
      
      <li><a href="http://instagram.com/mikekus"><img src="/assets/img/instagram/11.jpg" class="js-img" alt="Image from Mike Kus Instagram feed"></a></li>
      
      
      <li><a href="http://instagram.com/mikekus"><img src="/assets/img/instagram/12.jpg" class="js-img" alt="Image from Mike Kus Instagram feed"></a></li>
      
  </ul>
</div>